@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px; }
  @media (min-width: 1430px) {
    body .container {
      max-width: 1430px; } }

.container {
  max-width: 1200px; }

h1, h2, h3, h4, h5, p, ul, li {
  margin: 0;
  line-height: 1.5; }

ul {
  padding: 0; }

li {
  list-style: none; }

input {
  outline: none; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

img {
  max-width: 100%; }

.padtp30_0 {
  padding: 30px 0 0 0; }

.padtp15_0 {
  padding: 15px 0 0 0; }

.padtp50_0 {
  padding: 50px 0 0 0; }

.padtp100_20 {
  padding: 100px 0 20px 0; }

.padbt0_10 {
  padding: 0 0 10px 0; }

.padbt0_20 {
  padding: 0 0 20px 0; }

.padbt0_30 {
  padding: 0 0 30px 0; }

.padbt0_50 {
  padding: 0 0 50px 0; }

.pad30_50 {
  padding: 30px 0 50px 0; }

.pad10_0 {
  padding: 10px 0; }

.pad15_0 {
  padding: 15px 0; }

.pad30_0 {
  padding: 30px 0; }

.pad50_0 {
  padding: 50px 0; }

.pad100_0 {
  padding: 100px 0; }

.pad50 {
  padding: 50px; }

.pad50_100 {
  padding: 50px 100px; }

.heading2 h2 {
  text-align: center;
  padding: 0 0 15px 0; }
  .heading2 h2 span {
    text-transform: uppercase;
    font-size: 30px;
    color: #323232;
    position: relative; }
    .heading2 h2 span::after {
      content: "";
      width: 100px;
      height: 1px;
      background: #d7d7d7;
      position: absolute;
      top: 20px;
      right: -120px; }
    .heading2 h2 span::before {
      content: "";
      width: 100px;
      height: 1px;
      background: #d7d7d7;
      position: absolute;
      top: 20px;
      left: -120px; }

.heading2 p {
  font-size: 16px;
  color: #636363;
  padding: 0 30px;
  text-align: center; }

.hover-img:hover {
  -webkit-animation-name: flash;
  animation-name: flash; }

.hover-img2:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

header {
  position: relative; }
  header .form-search {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    width: calc(100% - 30px); }
    header .form-search .col-lg-12 {
      position: relative; }
      header .form-search .col-lg-12::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #EFEFEF;
        position: absolute;
        right: 165px;
        top: 0; }
      header .form-search .col-lg-12::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        position: absolute;
        right: 165px;
        top: 2px; }
    header .form-search .search-icon {
      position: absolute;
      left: 40px;
      top: 28px; }
    header .form-search .search-close {
      position: absolute;
      right: 20px;
      top: 28px; }
    header .form-search input[type='text'] {
      height: 62px;
      width: 100%;
      background: #FFFFFF;
      border: 0.5px solid #EFEFEF;
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      position: absolute;
      top: 10px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      color: #9C9C9C;
      padding: 0 60px; }
      header .form-search input[type='text']::-webkit-input-placeholder {
        font-family: 'Roboto', sans-serif; }
      header .form-search input[type='text']:-ms-input-placeholder {
        font-family: 'Roboto', sans-serif; }
      header .form-search input[type='text']::-ms-input-placeholder {
        font-family: 'Roboto', sans-serif; }
      header .form-search input[type='text']::placeholder {
        font-family: 'Roboto', sans-serif; }
    header .form-search span.close {
      position: absolute;
      right: 0;
      top: 0; }
  header .nav-top {
    background: #f3f3f3; }
    header .nav-top .row {
      height: 30px; }
    header .nav-top .social-left ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      header .nav-top .social-left ul li a {
        font-size: 14px;
        margin: 0 20px 0 0;
        color: #000; }
    header .nav-top .lg-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      font-family: 'Roboto', sans-serif; }
      header .nav-top .lg-right.login-success .search {
        margin: 0; }
      header .nav-top .lg-right .info {
        width: 155px;
        position: relative; }
        header .nav-top .lg-right .info .info-avatar {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          cursor: pointer; }
          header .nav-top .lg-right .info .info-avatar span.name {
            margin: 0 10px;
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: #636363; }
        header .nav-top .lg-right .info .info-open {
          position: absolute;
          width: 130px;
          z-index: 1;
          background: #FFFFFF;
          border: 0.5px solid #E8E8E8;
          -webkit-box-shadow: 0px 1px 4px rgba(156, 156, 156, 0.25);
          box-shadow: 0px 1px 4px rgba(156, 156, 156, 0.25);
          right: 0;
          top: 33px;
          padding: 10px;
          display: none; }
          header .nav-top .lg-right .info .info-open.active {
            display: block; }
          header .nav-top .lg-right .info .info-open::before {
            content: '';
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #EFEFEF;
            position: absolute;
            right: 50px;
            top: -11px;
            z-index: 1; }
          header .nav-top .lg-right .info .info-open::after {
            content: '';
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            position: absolute;
            right: 50px;
            top: -9px;
            z-index: 1; }
          header .nav-top .lg-right .info .info-open ul:first-child {
            border-bottom: 1px solid #D5D3D3; }
          header .nav-top .lg-right .info .info-open ul li a {
            font-family: 'Roboto',sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            line-height: 30px;
            color: #636363; }
      header .nav-top .lg-right ul.top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 155px; }
        header .nav-top .lg-right ul.top li {
          margin: 0 5px; }
          header .nav-top .lg-right ul.top li a {
            color: #636363;
            font-size: 14px; }
    header .nav-top .search {
      margin: 0 30px 0 0;
      cursor: pointer; }
      header .nav-top .search input[type="search"] {
        border: none;
        width: 100%;
        height: 30px;
        position: relative;
        padding: 0 50px 0 20px;
        border-radius: 4px;
        background: transparent; }
      header .nav-top .search input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 30px;
        background: none;
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      header .nav-top .search i {
        position: absolute;
        top: 6px;
        right: 17px;
        color: #fff;
        font-size: 16px;
        color: #929292; }
  header .main-nav {
    padding: 10px 0; }
    header .main-nav .banner_ads {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex; }
      header .main-nav .banner_ads .first, header .main-nav .banner_ads .last {
        width: 50%;
        padding: 0 0 0 15px; }
        header .main-nav .banner_ads .first img, header .main-nav .banner_ads .last img {
          display: block;
          margin: 0 auto;
          max-width: 100%; }
  header .menu {
    height: 40px;
    background: #01c3ff;
    width: 100%; }
    header .menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%; }
      header .menu ul li {
        line-height: 40px; }
        header .menu ul li a {
          color: #fff;
          text-transform: uppercase;
          font-size: 18px; }
          header .menu ul li a.dots {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            header .menu ul li a.dots span {
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: #fff;
              margin-left: 5px; }

section.breadcrumbs {
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #636363; }
  section.breadcrumbs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.breadcrumbs ul li a {
      color: #636363;
      font-size: 16px; }
      section.breadcrumbs ul li a img {
        margin: 0 10px 0 0; }
    section.breadcrumbs ul li::after {
      content: "/";
      padding: 0 10px; }
    section.breadcrumbs ul li:last-child::after {
      display: none; }
  section.breadcrumbs.breadcrumbs2 ul {
    padding: 10px;
    background: #f7f7f7; }
    section.breadcrumbs.breadcrumbs2 ul li a, section.breadcrumbs.breadcrumbs2 ul li::after {
      color: #1d99cc; }
  section.breadcrumbs.breadcrumbs3 ul li a, section.breadcrumbs.breadcrumbs3 ul li::after {
    color: #1d99cc; }

.main-video {
  width: 100%; }
  .main-video .carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); }
  .main-video .carousel-item .popup-youtube {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center; }
    .main-video .carousel-item .popup-youtube i {
      font-size: 100px;
      color: #fff; }
  .main-video .carousel-indicators {
    bottom: 30px; }
    .main-video .carousel-indicators li {
      width: 125px;
      border-radius: 5px;
      margin: 0 5px;
      display: inline-block;
      height: 100%; }
      .main-video .carousel-indicators li img {
        border-radius: 5px; }
      .main-video .carousel-indicators li.active {
        border: 2px solid #0f8a0e; }
    .main-video .carousel-indicators ._prev {
      position: absolute;
      left: 0; }
    .main-video .carousel-indicators ._next {
      position: absolute;
      right: 0; }
    .main-video .carousel-indicators ._prev, .main-video .carousel-indicators ._next {
      top: 22px; }
      .main-video .carousel-indicators ._prev i, .main-video .carousel-indicators ._next i {
        font-size: 30px;
        color: #b1b1b1; }

footer {
  border-top: 6px solid #00C2FF;
  background: #00131A; }
  footer .footer-logo {
    margin: 0 0 20px 0; }
  footer .footer-bottom ._style p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #DADADA;
    margin: 0 0 20px 0; }
    footer .footer-bottom ._style p:last-child {
      margin: 0; }
  footer .footer-bottom ._style2 ul li {
    margin: 0 0 20px 0; }
    footer .footer-bottom ._style2 ul li a {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
      color: #DBDADA;
      display: block;
      margin: 10px 0 0 0; }
    footer .footer-bottom ._style2 ul li:last-child {
      margin: 0; }
  footer .footer-bottom ._style1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .footer-bottom ._style1 ul li {
      margin-right: 30px; }
      footer .footer-bottom ._style1 ul li img {
        height: 24px; }
      footer .footer-bottom ._style1 ul li a span {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: #DBDADA;
        display: block;
        margin: 10px 0 0 0; }
  footer .footer-bottom ._style1 span.blue {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #01C3FF;
    display: block;
    margin: 0 0 10px 0; }
  footer .footer-bottom ._style1 p {
    margin: 0 0 20px 0;
    display: block; }
    footer .footer-bottom ._style1 p span.blue {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
      color: #01C3FF;
      display: block; }
    footer .footer-bottom ._style1 p a {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
      color: #DADADA; }
  footer .footer-copyright {
    text-align: center;
    background: #00131A;
    border-top: 1px solid #013849;
    padding: 20px 0; }
    footer .footer-copyright p {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 26px;
      color: #DADADA; }

.page_videos.video_category .item {
  margin: 0 0 30px 0; }

.page_videos .main_videos {
  height: 100%; }
  .page_videos .main_videos .item h3 {
    font-size: 30px; }

.page_videos .video_top_ {
  position: relative;
  margin: 0 0 250px 0; }
  .page_videos .video_top_ .video_sec:nth-child(1) {
    position: relative; }
    .page_videos .video_top_ .video_sec:nth-child(1) .caption {
      position: absolute;
      padding: 30px 115px;
      top: 20%; }
      .page_videos .video_top_ .video_sec:nth-child(1) .caption h1 {
        color: #fff;
        font-weight: bold;
        font-size: 40px;
        margin: 0 0 20px 0; }
      .page_videos .video_top_ .video_sec:nth-child(1) .caption p {
        font-size: 20px;
        color: #fff; }
      .page_videos .video_top_ .video_sec:nth-child(1) .caption a {
        padding: 10px 25px;
        background: #24baef;
        font-size: 16px;
        color: #fff;
        display: inline-block;
        border-radius: 5px;
        margin: 30px 0; }
    .page_videos .video_top_ .video_sec:nth-child(1)::before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%; }
  .page_videos .video_top_ .video_sec:nth-child(2) {
    bottom: -250px;
    position: absolute; }

.page_videos .video_sec {
  clear: both; }
  .page_videos .video_sec h2._top-head {
    font-size: 20px;
    position: relative;
    text-transform: uppercase; }
    .page_videos .video_sec h2._top-head::after {
      content: "";
      position: absolute;
      width: 70px;
      height: 1px;
      background: #000;
      margin: 0 0 0 10px;
      top: 15px; }
  .page_videos .video_sec.video_sec_style h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weigth: bold; }
  .page_videos .video_sec.video_sec_style a {
    font-size: 16px;
    color: #01c3ff; }
  .page_videos .video_sec.video_sec_style .col-lg-5 {
    padding-right: 0; }
    .page_videos .video_sec.video_sec_style .col-lg-5 .item._style_1._small_ {
      height: 100%; }
      .page_videos .video_sec.video_sec_style .col-lg-5 .item._style_1._small_ .img {
        height: calc(100% - 92px); }
        .page_videos .video_sec.video_sec_style .col-lg-5 .item._style_1._small_ .img img {
          height: 100%; }
      .page_videos .video_sec.video_sec_style .col-lg-5 .item._style_1._small_ h3 {
        width: 100%;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; }
  .page_videos .video_sec.video_sec_style .col-lg-7 {
    padding-left: 0; }
    .page_videos .video_sec.video_sec_style .col-lg-7 .col-lg-4 {
      margin: 0 0 15px 0; }
  .page_videos .video_sec.video_sec_style ._line {
    border-top: 1px solid #dbdbdb;
    margin: 0 15px; }
  .page_videos .video_sec .col-lg-8 .owl-item, .page_videos .video_sec .col-lg-8 .owl-stage-outer, .page_videos .video_sec .col-lg-8 .owl-stage {
    height: 100%; }
  .page_videos .video_sec .col-lg-8, .page_videos .video_sec .col-lg-4 {
    padding-right: 0; }
    .page_videos .video_sec .col-lg-8 .item img, .page_videos .video_sec .col-lg-4 .item img {
      height: 100%; }
  .page_videos .video_sec .col-lg-4.video_home {
    padding: 0 15px; }
    .page_videos .video_sec .col-lg-4.video_home .item {
      height: calc(50% - 7.5px); }
      .page_videos .video_sec .col-lg-4.video_home .item:nth-child(2) {
        margin: 15px 0 0 0; }
      .page_videos .video_sec .col-lg-4.video_home .item .img {
        margin: 0; }
        .page_videos .video_sec .col-lg-4.video_home .item .img img {
          height: 100%; }
  .page_videos .video_sec ul.list_ li {
    padding: 30px 0;
    list-style: square;
    list-style-position: inside;
    border-bottom: 1px solid #424242; }
    .page_videos .video_sec ul.list_ li:last-child {
      border-bottom: none; }
    .page_videos .video_sec ul.list_ li a {
      font-size: 16px;
      color: #424242; }

.page_videos .item {
  position: relative; }
  .page_videos .item._style {
    display: block;
    height: 100%; }
    .page_videos .item._style .img {
      height: 100%; }
  .page_videos .item._style_1 .img::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }
  .page_videos .item._style_1._small_ span {
    font-size: 18px;
    color: #01c3ff; }
    .page_videos .item._style_1._small_ span span.date {
      color: #000;
      font-size: 15px;
      font-style: normal; }
  .page_videos .item .caption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px; }
    .page_videos .item .caption h3, .page_videos .item .caption p, .page_videos .item .caption span {
      color: #fff; }
  .page_videos .item .img {
    position: relative;
    margin: 0 0 10px 0; }
    .page_videos .item .img img {
      width: 100%; }
    .page_videos .item .img .popup-youtube {
      position: absolute;
      right: 0;
      left: 0;
      top: 40%;
      margin: 0 auto;
      text-align: center;
      width: 15%; }
      .page_videos .item .img .popup-youtube i {
        font-size: 30px;
        color: #fff; }
      .page_videos .item .img .popup-youtube img {
        width: 100%;
        margin: 0 auto; }
  .page_videos .item h3 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #000; }
  .page_videos .item p {
    font-size: 16px;
    color: #636363;
    margin: 0 0 10px 0; }
  .page_videos .item span {
    font-size: 14px; }
    .page_videos .item span span.date {
      font-style: italic; }

.page_videos .main_videos .owl-nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5; }
  .page_videos .main_videos .owl-nav i {
    color: #fff;
    font-size: 30px; }
  .page_videos .main_videos .owl-nav .owl-prev {
    right: 60px;
    position: absolute;
    z-index: 5;
    top: 0;
    width: 48px;
    height: 32px;
    background: #b7b7b7;
    text-align: center; }
  .page_videos .main_videos .owl-nav .owl-next {
    right: 0;
    position: absolute;
    z-index: 5;
    top: 0;
    background: #b7b7b7;
    width: 48px;
    height: 32px;
    text-align: center; }

.page_videos .main-banner .item {
  height: 550px;
  display: block;
  position: relative;
  background-position: top center;
  margin: 0; }
  .page_videos .main-banner .item::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    width: 100%;
    height: 100%; }
  .page_videos .main-banner .item .caption_ {
    position: absolute;
    top: 35%;
    left: 200px; }
    .page_videos .main-banner .item .caption_ h1 {
      font-size: 60px;
      color: #fff;
      font-weight: bold; }
    .page_videos .main-banner .item .caption_ h2 {
      font-size: 30px;
      color: #fff;
      margin: 0 0 10px 0; }
    .page_videos .main-banner .item .caption_ p {
      font-size: 16px;
      color: #fff; }
  .page_videos .main-banner .item .popup-youtube_ {
    width: 10%;
    position: absolute;
    right: 200px;
    top: 35%; }

.page_videos .main-banner .owl-nav {
  position: absolute;
  top: 45%;
  width: 100%; }
  .page_videos .main-banner .owl-nav i {
    color: #fff;
    font-size: 40px; }
  .page_videos .main-banner .owl-nav .owl-prev {
    left: 50px;
    position: absolute; }
  .page_videos .main-banner .owl-nav .owl-next {
    right: 50px;
    position: absolute; }

.page_videos .main-banner .owl-dots {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .page_videos .main-banner .owl-dots .owl-dot {
    margin: 0 10px 0 0; }
    .page_videos .main-banner .owl-dots .owl-dot:last-child {
      margin: 0; }
    .page_videos .main-banner .owl-dots .owl-dot.active span {
      position: relative; }
      .page_videos .main-banner .owl-dots .owl-dot.active span::before {
        content: "";
        background-color: transparent;
        width: 16px;
        height: 16px;
        border: 1px solid #fff;
        display: block;
        border-radius: 50%;
        position: absolute;
        left: -3px;
        top: -3px; }
    .page_videos .main-banner .owl-dots .owl-dot span {
      height: 10px;
      width: 10px;
      background-color: #fff;
      display: block;
      border-radius: 50%; }

.list_category h2 {
  border-bottom: 1px solid #b7b7b7;
  font-size: 20px;
  margin: 0 15px 30px 15px;
  padding: 0 0 10px 0;
  text-transform: uppercase;
  position: relative; }
  .list_category h2::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background: #ed2791;
    bottom: -1px; }

.list_category .owl-nav {
  top: 20%; }

.list_category .owl-item .item {
  margin: 0; }

.list_category .pager {
  width: 100%; }
  .list_category .pager ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .list_category .pager ul li {
      margin: 0 5px; }
      .list_category .pager ul li a {
        width: 30px;
        height: 30px;
        background: #ebebeb;
        font-size: 12px;
        display: block;
        border-radius: 50%;
        color: #000;
        line-height: 30px;
        text-align: center; }
      .list_category .pager ul li.current a {
        background: #ed2791;
        color: #fff; }

.box-language ._bg_ {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20; }

.box-language ._box_ {
  width: 600px;
  background: #fff;
  position: fixed;
  top: 20%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 25;
  padding: 70px;
  border-radius: 10px;
  text-align: center; }
  .box-language ._box_ span.close {
    color: #000;
    position: absolute;
    right: 20px;
    top: 20px; }
  .box-language ._box_ h2 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 0 30px 0; }
    .box-language ._box_ h2::before {
      content: "";
      width: 40px;
      height: 1px;
      background: #000;
      position: absolute;
      left: -50px;
      top: 25px; }
    .box-language ._box_ h2::after {
      content: "";
      width: 40px;
      height: 1px;
      background: #000;
      position: absolute;
      right: -50px;
      top: 25px; }
  .box-language ._box_ ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .box-language ._box_ ul li {
      margin: 0 10px; }

#loaddata ._item_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  border-bottom: 1px solid #ccc;
  padding: 30px 0; }
  #loaddata ._item_ .img {
    padding: 0 30px 0 0;
    width: 40%; }
    #loaddata ._item_ .img img {
      width: 100%;
      border: 1px solid #ccc; }
  #loaddata ._item_ .text {
    width: calc(100% - 40%); }
    #loaddata ._item_ .text h4 {
      margin: -10px 0 10px 0; }
      #loaddata ._item_ .text h4 a {
        color: #000;
        font-size: 30px;
        font-weight: bold; }
    #loaddata ._item_ .text p {
      font-size: 20px;
      color: #000;
      margin: 0 0 10px 0; }
    #loaddata ._item_ .text span {
      font-size: 16px; }
      #loaddata ._item_ .text span span.date {
        font-style: italic; }
  #loaddata ._item_:last-child {
    border-bottom: none; }

#loaddata .loading {
  text-align: center; }

.box_news_specical h2 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #cbcbcb; }

.box_news_specical ._item_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  border-bottom: 1px solid #ccc;
  padding: 30px 0; }
  .box_news_specical ._item_:last-child {
    border-bottom: none; }
  .box_news_specical ._item_ .img {
    padding: 0 20px 0 0;
    width: 30%; }
    .box_news_specical ._item_ .img._home_ {
      width: 40%; }
    .box_news_specical ._item_ .img img {
      width: 100%;
      border: 1px solid #ccc; }
  .box_news_specical ._item_ .text {
    width: calc(100% - 30%); }
    .box_news_specical ._item_ .text h4 {
      margin: -10px 0 10px 0; }
      .box_news_specical ._item_ .text h4 a {
        color: #000;
        font-size: 20px;
        font-weight: bold; }
    .box_news_specical ._item_ .text p {
      font-size: 20px;
      color: #000;
      margin: 0 0 10px 0; }
    .box_news_specical ._item_ .text span {
      font-size: 18px;
      color: #01c3ff; }
      .box_news_specical ._item_ .text span span.date {
        color: #000;
        font-size: 15px; }

section.banner_ads img {
  width: 100%; }

.box_login_register_ {
  background: #fff; }
  .box_login_register_ ul.nav {
    background: #fafafa;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .box_login_register_ ul.nav li {
      font-size: 25px;
      padding: 0 50px; }
      .box_login_register_ ul.nav li:first-child {
        border-right: 1px solid #000; }
      .box_login_register_ ul.nav li a {
        color: #000;
        text-transform: uppercase; }
      .box_login_register_ ul.nav li a.active {
        color: #4ccdff;
        position: relative; }
        .box_login_register_ ul.nav li a.active::after {
          content: "";
          width: 100%;
          height: 2px;
          background-color: #4ccdff;
          position: absolute;
          bottom: -12px;
          left: 0; }
  .box_login_register_ .tab-content {
    width: 100%; }
    .box_login_register_ .tab-content .form_text {
      border: none;
      border-bottom: 1px solid #000;
      font-size: 16px;
      width: 100%;
      margin: 0 0 20px 0;
      height: 50px; }
    .box_login_register_ .tab-content .remember_pass {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .box_login_register_ .tab-content .remember_pass input {
        margin: 0 5px 0 0; }
    .box_login_register_ .tab-content .bottom_ {
      margin: 20px 0 0 0; }
      .box_login_register_ .tab-content .bottom_ #login_fb {
        margin: 0 15px 0 0; }
    .box_login_register_ .tab-content input[type='submit'] {
      width: 285px;
      height: 50px;
      background: #4ccdff;
      font-size: 20px;
      text-align: center;
      line-height: 48px;
      color: #fff;
      border: none;
      text-transform: uppercase; }
  .box_login_register_ #register .form_text {
    width: 49%; }

.newsdetail-page .detail h1 {
  font-size: 30px;
  color: #212121;
  font-weight: bold; }

.newsdetail-page .detail .head {
  padding: 20px 0; }
  .newsdetail-page .detail .head .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .newsdetail-page .detail .head .text .date {
      font-size: 20px;
      font-weight: bold; }
      .newsdetail-page .detail .head .text .date span {
        color: #636363;
        font-weight: normal; }
    .newsdetail-page .detail .head .text .social {
      margin: 0 0 0 20px; }

.newsdetail-page .detail .xem-nhanh {
  padding: 20px;
  background: #f7f7f7; }
  .newsdetail-page .detail .xem-nhanh ul {
    padding: 0 20px; }
    .newsdetail-page .detail .xem-nhanh ul li {
      list-style: disc;
      list-style-position: inside;
      line-height: 1.5;
      margin: 5px 0; }
      .newsdetail-page .detail .xem-nhanh ul li a {
        color: #424242;
        font-size: 20px; }

.newsdetail-page .detail .ctent_detail p {
  line-height: 3;
  font-size: 16px; }

.newsdetail-page .detail .ctent_detail img {
  display: block;
  margin: 10px auto 0; }

.newsdetail-page .detail .share {
  padding: 20px 0;
  margin: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.newsdetail-page .detail + .video_sec {
  margin: 0 -15px; }
  .newsdetail-page .detail + .video_sec h2 {
    font-size: 40px;
    background: #fff; }
    .newsdetail-page .detail + .video_sec h2::after {
      right: 0;
      width: calc( 100% - 300px);
      margin: 0;
      top: 30px; }

.comments-area .replay_comment .l {
  margin: 0 0 20px 0;
  border-bottom: 1px dashed #000; }

.comments-area .name, .comments-area .name ._left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .comments-area .name h5, .comments-area .name ._left h5 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px 0; }

.comments-area .name {
  margin: 0 0 10px 0; }
  .comments-area .name ._left img {
    margin: 0 10px 0 0; }

.comments-area .replay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .comments-area .replay .like i {
    color: #01c3ff; }
  .comments-area .replay a {
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    color: #288ad6;
    border-right: 1px solid #000;
    color: #004f8b; }
    .comments-area .replay a:last-child {
      border-right: none;
      margin: 0;
      padding: 0; }
    .comments-area .replay a i {
      color: #999999;
      margin: 0 0 0 5px; }
  .comments-area .replay .time {
    color: #999999; }
  .comments-area .replay .l {
    width: 100%; }

.comments-area .persion-replay {
  padding: 20px 0 20px 20px;
  margin: 15px 0 0 0; }
  .comments-area .persion-replay .pr {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0; }
    .comments-area .persion-replay .pr:last-child {
      padding: 0;
      margin: 0;
      border-bottom: none; }
  .comments-area .persion-replay .head, .comments-area .persion-replay .head ._left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .comments-area .persion-replay .head h5, .comments-area .persion-replay .head ._left h5 {
      font-size: 15px;
      font-weight: bold; }
  .comments-area .persion-replay .head {
    margin: 0 0 10px 0; }
    .comments-area .persion-replay .head ._left img {
      margin: 0 10px 0 0; }

.box-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  background: #f0f0f0;
  margin: 0 0 20px 0; }
  .box-comments span.count {
    color: #000000;
    font-size: 18px; }
  .box-comments .search-ct a {
    font-size: 15px;
    color: #000; }
    .box-comments .search-ct a:nth-child(1) {
      border-right: 1px solid #000;
      margin: 0 10px 0 0;
      padding: 0 10px 0 0; }

.comments-review .comments {
  width: 100%;
  border: none;
  height: 100px;
  outline: none;
  padding: 20px;
  border: 1px solid #000; }

.comments-review p {
  font-size: 16px; }
  .comments-review p a {
    font-weight: bold;
    color: #000; }

.comments-review span.submit input[type="submit"] {
  width: 105px;
  height: 48px;
  background: #01c3ff;
  text-align: center;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px; }

.sidebar {
  margin: 0 0 30px 0; }
  .sidebar img.banner-main {
    width: 100%; }
  .sidebar h2 {
    font-size: 16px;
    position: relative; }
    .sidebar h2::after {
      position: absolute;
      width: 58px;
      height: 2px;
      background: #000;
      right: 0;
      top: 12px;
      content: ""; }
  .sidebar ._item_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    border-bottom: 1px solid #ccc;
    padding: 30px 0; }
    .sidebar ._item_:last-child {
      border-bottom: none; }
    .sidebar ._item_ .img {
      padding: 0 20px 0 0;
      width: 60%;
      position: relative; }
      .sidebar ._item_ .img .popup-youtube {
        width: 10%;
        position: absolute;
        left: 10px;
        bottom: 10px; }
      .sidebar ._item_ .img img {
        width: 100%;
        border-radius: 5px; }
    .sidebar ._item_ .text {
      width: calc(100% - 60%); }
      .sidebar ._item_ .text h4 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: -10px 0 10px 0; }
        .sidebar ._item_ .text h4 a {
          color: #000;
          font-size: 20px;
          font-weight: bold; }
      .sidebar ._item_ .text p {
        font-size: 20px;
        color: #000;
        margin: 0 0 10px 0; }
      .sidebar ._item_ .text span.category {
        font-size: 18px;
        color: #01c3ff; }
      .sidebar ._item_ .text span.view {
        display: block;
        color: #000;
        font-size: 15px; }

#main-trending {
  width: calc(24% - 15px); }
  #main-trending .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #main-trending .owl-dots .owl-dot {
      width: 18px;
      line-height: 18px;
      background: #A6A6A6;
      border-radius: 50%;
      text-align: center;
      font-size: 11px;
      font-family: 'Roboto', sans-serif;
      margin: 0 5px;
      color: #fff; }
      #main-trending .owl-dots .owl-dot.active {
        background: #01C3FF; }
  #main-trending h2 {
    position: relative;
    padding: 20px 0;
    margin: 0 0 20px 0; }
    #main-trending h2 span {
      background: url("../img/2day/bg-trending.png") no-repeat center center;
      font-style: italic;
      font-size: 16px;
      text-transform: uppercase;
      color: #fff;
      z-index: 1;
      position: absolute;
      text-align: center;
      width: 84px;
      margin: 0 auto;
      left: 0;
      right: 0; }
    #main-trending h2::before {
      content: "";
      background: #CDCDCD;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 30px;
      left: 0;
      z-index: 0; }
  #main-trending .item .children {
    margin: 0 0 20px 0; }
  #main-trending .item .cate {
    font-family: 'Roboto', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0 0 35px; }
    #main-trending .item .cate span.name {
      font-size: 8px;
      border-radius: 3px;
      width: 45px;
      line-height: 16px;
      text-align: center;
      color: #fff;
      margin-right: 10px;
      text-transform: uppercase; }
      #main-trending .item .cate span.name.red {
        background-color: #F82E56; }
      #main-trending .item .cate span.name.green {
        background-color: #4CA80B; }
      #main-trending .item .cate span.name.blue {
        background-color: #01C3FF; }
    #main-trending .item .cate span.time {
      font-size: 10px;
      color: #ACACAC; }
  #main-trending .item .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #main-trending .item .title span {
      font-size: 50px;
      font-weight: bold;
      color: #B5B0B0;
      width: 50px;
      text-align: center;
      display: inline; }
    #main-trending .item .title h3 {
      font-weight: 500;
      line-height: 22px;
      color: #212121;
      font-size: 18px; }

.item-new .inner {
  position: relative; }
  .item-new .inner::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(51.62%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 51.62%, rgba(0, 0, 0, 0.6) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 51.62%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.62%, rgba(0, 0, 0, 0.6) 100%);
    content: ''; }
  .item-new .inner .caption {
    position: absolute;
    bottom: 0;
    padding: 20px; }
    .item-new .inner .caption .cate {
      font-family: 'Roboto', sans-serif;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 0 10px 0; }
      .item-new .inner .caption .cate span.name {
        font-size: 8px;
        border-radius: 3px;
        width: 45px;
        line-height: 16px;
        text-align: center;
        color: #fff;
        margin-right: 10px;
        text-transform: uppercase; }
        .item-new .inner .caption .cate span.name.red {
          background-color: #F82E56; }
        .item-new .inner .caption .cate span.name.green {
          background-color: #4CA80B; }
        .item-new .inner .caption .cate span.name.blue {
          background-color: #01C3FF; }
        .item-new .inner .caption .cate span.name.purple {
          background-color: #690AA7; }
        .item-new .inner .caption .cate span.name.orange {
          background-color: #F3670A; }
      .item-new .inner .caption .cate span.time {
        font-size: 10px;
        color: #fff; }
    .item-new .inner .caption h3 {
      font-weight: 500;
      line-height: 33px;
      color: #fff;
      font-size: 35px; }
      .item-new .inner .caption h3.small {
        font-size: 18px;
        line-height: 22px; }

.item-new2 img {
  margin: 0 0 10px 0; }

.item-new2 .caption h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0 0 10px 0; }

.item-new2 .caption span.time {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: #A4A4A4;
  margin: 0 0 5px 0;
  display: block; }

.item-new2 .caption p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #636363; }

#banner_ads {
  width: calc(23% - 15px); }
  #banner_ads .banner_ads {
    margin: 15px 0; }
  #banner_ads img {
    width: 100%; }

#main-trending-2 {
  margin-top: 15px;
  width: calc(53% - 15px); }
  #main-trending-2 .row .item-new {
    width: calc(50% - 13px); }
    #main-trending-2 .row .item-new.item-new-1 .inner {
      margin-top: 26px; }
    #main-trending-2 .row .item-new.item-new-2 .inner {
      margin-top: 26px; }

.banner_center {
  margin: 30px 0 0 0; }
  .banner_center img {
    width: 100%; }

.banner-right {
  margin: 30px 0 0 0; }
  .banner-right a {
    margin: 0 0 30px 0;
    display: block; }

.newest .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0; }
  .newest .item .img {
    width: 120px;
    margin-right: 10px; }
  .newest .item .text {
    width: calc(100% - 120px); }

.newest h2 {
  position: relative;
  margin: 0 0 20px 0;
  height: 36px; }
  .newest h2 span {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
    z-index: 1;
    background: #fff; }
  .newest h2:after {
    content: "";
    background: #F82E56;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 18px;
    left: 0;
    position: absolute;
    z-index: 0; }

.newest span.cate {
  font-size: 8px;
  border-radius: 3px;
  width: 45px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: 0 0 5px 0; }
  .newest span.cate.red {
    background-color: #F82E56; }
  .newest span.cate.green {
    background-color: #4CA80B; }
  .newest span.cate.blue {
    background-color: #01C3FF; }
  .newest span.cate.purple {
    background-color: #690AA7; }
  .newest span.cate.orange {
    background-color: #F3670A; }

.newest span.time {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: #A4A4A4; }

.newest h4 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  margin: 0  0 5px 0; }

.trending-week {
  margin: 30px 0 0 0; }
  .trending-week .content-left {
    width: calc(70% - 15px); }
    .trending-week .content-left .item-new img {
      width: 100%; }
  .trending-week .content-right {
    width: calc(30% - 15px); }
    .trending-week .content-right .item-new2 img {
      width: 100%; }
    .trending-week .content-right .item-new2:nth-child(2) {
      margin-top: 30px;
      display: block; }
  .trending-week .nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    margin: 0 0 20px 0; }
    .trending-week .nav li a {
      font-family: 'Barlow Condensed', sans-serif;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #9B9B9B;
      font-weight: 300;
      border: none; }
      .trending-week .nav li a.active {
        color: #000; }
  .trending-week h2 {
    text-align: center;
    position: relative; }
    .trending-week h2 span {
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 500;
      font-size: 45px;
      line-height: 54px;
      text-transform: uppercase;
      color: #000000;
      position: relative;
      background: #fff;
      z-index: 1; }
    .trending-week h2::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: #F82E56;
      top: 28px;
      left: 0;
      z-index: 0; }

.beauty-news {
  padding: 0 0 30px 0; }
  .beauty-news h2 {
    position: relative;
    height: 54px;
    margin: 30px 0; }
    .beauty-news h2 span {
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 500;
      font-size: 45px;
      line-height: 54px;
      text-transform: uppercase;
      color: #000000;
      background: #fff;
      position: absolute;
      z-index: 1; }
    .beauty-news h2::after {
      content: "";
      width: 100%;
      height: 2px;
      background: #F82E56;
      position: absolute;
      top: 30px;
      left: 0;
      z-index: 0; }
  .beauty-news .row .content-left {
    width: calc(58% - 15px); }
  .beauty-news .row .content-right {
    width: calc(42% - 15px); }
    .beauty-news .row .content-right h3 {
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 500;
      font-size: 30px;
      line-height: 30px; }
  .beauty-news .row.content {
    margin-top: 30px; }
    .beauty-news .row.content .item-new2 {
      width: calc(33% - 15px); }

.video {
  padding: 30px 0;
  background: #001319; }
  .video .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: -70px; }
    .video .owl-nav .owl-prev {
      margin-right: 25px; }
  .video .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px; }
    .video .owl-dots .owl-dot {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #01C3FF;
      margin: 0 5px; }
      .video .owl-dots .owl-dot.active {
        border-radius: 5px;
        width: 19px;
        height: 8px; }
  .video h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 30px 0; }
  .video .item::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(51.62%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 51.62%, rgba(0, 0, 0, 0.6) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 51.62%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.62%, rgba(0, 0, 0, 0.6) 100%);
    content: '';
    z-index: 1; }
  .video .item img {
    border-radius: 5px;
    position: relative; }
  .video .item .arrow {
    width: 48px;
    height: 48px;
    background: #01C3FF;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2; }
    .video .item .arrow img {
      width: auto;
      margin-right: -5px; }
  .video .item .caption {
    position: absolute;
    bottom: 0;
    padding: 20px;
    z-index: 2; }
    .video .item .caption h4 {
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      margin: 0 0 10px 0; }
    .video .item .caption span.time {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 13px;
      line-height: 24px;
      color: #A4A4A4; }

.newest2 .row {
  margin-bottom: 30px; }
  .newest2 .row .item-new2 .caption h3 {
    font-size: 30px;
    line-height: 30px; }

.newest2 .content-left {
  width: calc(50% - 15px);
  position: relative; }

.newest2 .content-right {
  width: calc(50% - 15px); }

.newest2 span.cate {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 8px;
  border-radius: 3px;
  width: 45px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: 0 0 5px 0; }
  .newest2 span.cate.red {
    background-color: #F82E56; }
  .newest2 span.cate.green {
    background-color: #4CA80B; }
  .newest2 span.cate.blue {
    background-color: #01C3FF; }
  .newest2 span.cate.purple {
    background-color: #690AA7; }
  .newest2 span.cate.orange {
    background-color: #F3670A; }

.newest2 h2 {
  position: relative;
  margin: 0 0 20px 0;
  height: 36px; }
  .newest2 h2 span {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
    z-index: 1;
    background: #fff; }
  .newest2 h2:after {
    content: "";
    background: #F82E56;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 18px;
    left: 0;
    position: absolute;
    z-index: 0; }

.form-search input {
  background: #FFFFFF;
  border: 0.5px solid #EFEFEF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); }

.form-search.login-success .col-lg-12::before, .form-search.login-success .col-lg-12::after {
  right: 135px; }

.top-category {
  margin: 30px 0; }
