@font-face
  font-family: 'Roboto'
  src: url("../fonts/Roboto-Regular.eot") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg")
  font-weight: normal
  font-style: normal

body
  font-family: 'Roboto', Arial, san-serif
  font-size: 14px
  width: 100%
  .container
    max-width: 100%
    padding: 0 100px
h1, h2, h3, h4, h5, p, ul, li
  margin: 0
  line-height: 1.5

ul
  padding: 0

li
  list-style: none

input
  outline: none

a
  text-decoration: none
  cursor: pointer

  &:hover
    text-decoration: none
    cursor: pointer

img
  max-width: 100%

.padtp30_0
  padding: 30px 0 0 0

.padtp15_0
  padding: 15px 0 0 0

.padtp50_0
  padding: 50px 0 0 0

.padtp100_20
  padding: 100px 0 20px 0

.padbt0_10
  padding: 0 0 10px 0

.padbt0_20
  padding: 0 0 20px 0

.padbt0_30
  padding: 0 0 30px 0

.padbt0_50
  padding: 0 0 50px 0

.pad30_50
  padding: 30px 0 50px 0

.pad10_0
  padding: 10px 0

.pad15_0
  padding: 15px 0

.pad30_0
  padding: 30px 0

.pad50_0
  padding: 50px 0

.pad100_0
  padding: 100px 0

.pad50
  padding: 50px

.pad50_100
  padding: 50px 100px

.heading2
  h2
    text-align: center
    padding: 0 0 15px 0
    span 
      text-transform: uppercase
      font-size: 30px
      color: #323232
      position: relative
      &::after
        content: ""
        width: 100px
        height: 1px
        background: #d7d7d7
        position: absolute
        top: 20px
        right: -120px
      &::before
        content: ""
        width: 100px
        height: 1px
        background: #d7d7d7
        position: absolute
        top: 20px
        left: -120px
  p
    font-size: 16px
    color: #636363
    padding: 0 30px
    text-align: center

.hover-img:hover
  -webkit-animation-name: flash
  animation-name: flash

.hover-img2:hover
  -webkit-animation-name: pulse
  animation-name: pulse

header
  .nav-top
    background: #f3f3f3
    padding: 8px 0
    .social-left
      ul
        display: flex
        display: -webkit-flex
        align-items: center 
        li
          a
            font-size: 12px
            margin: 0 10px 0 0
            color: #000
            
    .lg-right
      display: flex
      display: -webkit-flex
      justify-content: flex-end
      ul
        display: flex
        display: -webkit-flex
        align-items: center
        li 
          margin: 0 5px
          a
            color: #000
            font-size: 16px 
    .search
      position: relative
      input
        &[type="search"]
          border: none
          width: 100%
          height: 40px
          position: relative
          padding: 0 50px 0 20px
          border-radius: 4px
          background: transparent
        &[type="submit"]
          position: absolute
          top: 0
          right: 0 
          width: 50px
          height: 40px
          background: none
          border: none
          border-top-right-radius: 4px
          border-bottom-right-radius: 4px

      i
        position: absolute
        top: 12px
        right: 17px
        color: #fff
        font-size: 16px 
        color: #929292

  .main-nav
    padding: 20px 0
    .banner_ads
      display: flex
      display: -webkit-flex
      .first, .last
        width: 50%
        padding: 0 0 0 15px
        img
          display: block
          margin: 0 auto
          max-width: 100%
  .menu
    height: 75px
    background: #01c3ff
    width: 100%
    ul
      display: flex
      display: -webkit-flex
      align-items: center
      justify-content: space-between
      width: 100%
      li
        line-height: 75px
        a
          color: #fff
          text-transform: uppercase
          font-size: 22px
        &:hover
          > a
            text-decoration: underline

section
  &.breadcrumbs
    background: #f3f3f3
    ul
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      display: -webkit-flex
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center

      li
        a
          color: #636363
          font-size: 16px
          i
            margin: 0 10px 0 0

        &::after
          content: "-"
          padding: 0 10px

        &:last-child::after
          display: none

    &.breadcrumbs2 ul
      padding: 10px
      background: #f7f7f7

      li
        a, &::after
          color: #1d99cc

    &.breadcrumbs3 ul li
      a, &::after
        color: #1d99cc

.main-video
  width: 100%
  .carousel-item
    &::before
      content: ""
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: rgba(0,0,0,0.5)
    .popup-youtube
      position: absolute
      top: 40%
      left: 0
      right: 0
      text-align: center
      i
        font-size: 100px
        color: #fff
        
  .carousel-indicators
    bottom: 30px
    li
      width: 125px
      border-radius: 5px
      margin: 0 5px
      display: inline-block
      height: 100%
      img 
        border-radius: 5px
      &.active
        border: 2px solid #0f8a0e
    ._prev
      position: absolute
      left: 0
    ._next
      position: absolute
      right: 0
    ._prev, ._next
      top: 22px
      i
        font-size: 30px
        color: #b1b1b1

footer
  border-top: 1px solid #bdbdbd
  .footer-logo
    margin: 0 0 20px 0
  .footer-bottom
    ._style
      padding: 0 20px 0 0
      &:nth-child(1)
        width: 20%
      &:nth-child(2)
        width: 30%
      &:nth-child(3)
        width: 50% 
      li
        padding: 0 0 10px 0
        list-style: disc
        list-style-position: inside    
        a
          color: #000
          font-size: 16px
      p
        font-size: 16px
        color: #000
        margin: 0 0 20px 0
    ._style_1
      padding: 0 20px 0 0
      p
        font-size: 16px
        color: #000
        margin: 0 0 20px 0
    ul.social
      display: flex
      dipslay: -webkit-flex
      align-items: center
      li
        margin: 0 20px 0 0
        a
          i
            font-size: 23px
            color: #000

  .footer-copyright
    text-align: center
    background: #efefef
.page_videos
  &.video_category
    .item
      margin: 0 0 30px 0
  .main_videos
    height: 100%
    .item 
      h3
        font-size: 30px
  .video_top_
    position: relative
    margin: 0 0 250px 0
    .video_sec
      &:nth-child(1)
        position: relative
        .caption
          position: absolute
          padding: 30px 115px
          top: 20%
          h1
            color: #fff
            font-weight: bold
            font-size: 40px
            margin: 0 0 20px 0
          p
            font-size: 20px
            color: #fff
          a 
            padding: 10px 25px
            background: #24baef
            font-size: 16px
            color: #fff
            display: inline-block
            border-radius: 5px
            margin: 30px 0
        &::before
          content: ""
          position: absolute
          background: rgba(0,0,0,0.5)
          top: 0
          left: 0
          right: 0
          width: 100%
          height: 100%
      &:nth-child(2)
        bottom: -250px
        position: absolute    
  .video_sec
    clear: both
    h2._top-head
      font-size: 20px
      position: relative
      text-transform: uppercase
      &::after
        content: ""
        position: absolute
        width: 70px
        height: 1px
        background: #000
        margin: 0 0 0 10px
        top: 15px
    &.video_sec_style
      h2
        text-transform: uppercase
        font-size: 30px
        font-weigth: bold
      a
        font-size: 16px
        color: #01c3ff
      .col-lg-5
        padding-right: 0
        .item 
          &._style_1._small_
            height: 100%
            .img
              height: calc(100% - 92px)
              img
                height: 100%
            h3
              width: 100%
              text-overflow: ellipsis
              overflow: hidden
              white-space: nowrap
      .col-lg-7
        padding-left: 0
        .col-lg-4
          margin: 0 0 15px 0
      ._line
        border-top: 1px solid #dbdbdb
        margin: 0 15px
    .col-lg-8
      .owl-item,.owl-stage-outer, .owl-stage
        height: 100%
    .col-lg-8, .col-lg-4
      padding-right: 0
      .item
        img
          height: 100%
    .col-lg-4
      &.video_home
        padding: 0 15px
        .item
          height: calc(50% - 7.5px)
          &:nth-child(2)
            margin: 15px 0 0 0
          .img
            margin: 0
            img
              height: 100%
  .item
    position: relative
    &._style
      display: block
      height: 100%
      .img
        height: 100%
    &._style_1
      .img
        &::before
          content: ""
          position: absolute
          background: rgba(0,0,0,0.5)
          top: 0
          left: 0
          right: 0
          width: 100%
          height: 100%
      &._small_
        span
          font-size: 18px
          color: #01c3ff
          span.date
            color: #000
            font-size: 15px
            font-style: normal
    .caption
      position: absolute
      bottom: 0
      background: rgba(0,0,0,0.5)
      width: 100%
      padding: 10px
      h3, p, span
        color: #fff
    .img
      position: relative
      margin: 0 0 10px 0
      img
        width: 100%
      .popup-youtube
        position: absolute
        right: 0
        left: 0
        top: 40%
        margin: 0 auto 
        text-align: center
        width: 15%
        i
          font-size: 30px
          color: #fff
        img
          width: 100%
          margin: 0 auto
    h3 
      font-size: 20px   
      margin: 0 0 10px 0
      color: #000
    p
     font-size: 16px
     color: #636363
     margin: 0 0 10px 0
    span
      font-size: 14px
      span.date
        font-style: italic
  .main_videos  
    .owl-nav
        position: absolute
        top: 0
        width: 100%
        z-index: 5

        i
          color: #fff
          font-size: 30px

        .owl-prev
          right: 60px
          position: absolute
          z-index: 5
          top: 0
          width: 48px
          height: 32px
          background: #b7b7b7
          text-align: center

        .owl-next
          right: 0
          position: absolute
          z-index: 5
          top: 0
          background: #b7b7b7
          width: 48px
          height: 32px
          text-align: center
  .main-banner
    .item
      height: 550px
      display: block
      position: relative
      background-position: top center
      margin: 0
      &::before 
        position: absolute
        top: 0
        left: 0
        right: 0
        background: rgba(0,0,0,0.5)
        content: ""
        width: 100%
        height: 100%
      .caption_
        position: absolute
        top: 35%
        left: 200px
        h1
          font-size: 60px
          color: #fff
          font-weight: bold
        h2
          font-size: 30px
          color: #fff
          margin: 0 0 10px 0
        p
          font-size: 16px
          color: #fff
      .popup-youtube_
        width: 10%
        position: absolute
        right: 200px
        top: 35%
    .owl-nav
      position: absolute
      top: 45%
      width: 100%

      i
        color: #fff
        font-size: 40px

      .owl-prev
        left: 50px
        position: absolute

      .owl-next
        right: 50px
        position: absolute

    .owl-dots
      position: absolute
      bottom: 30px
      right: 0
      left: 0
      margin: 0 auto
      width: 100%
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      display: -webkit-flex
      -webkit-box-align: center
      -ms-flex-align: center
      align-items: center
      -webkit-box-pack: center
      -ms-flex-pack: center
      justify-content: center

      .owl-dot
        margin: 0 10px 0 0

        &:last-child
          margin: 0

        &.active span
          position: relative
          &::before
            content: ""
            background-color: transparent
            width: 16px
            height: 16px 
            border: 1px solid #fff
            display: block
            border-radius: 50%
            position: absolute
            left: -3px
            top: -3px
        span
          height: 10px
          width: 10px
          background-color: #fff
          display: block
          border-radius: 50%
.list_category
  h2
    border-bottom: 1px solid #b7b7b7
    font-size: 20px
    margin: 0 15px 30px 15px
    padding: 0 0 10px 0
    text-transform: uppercase
    position: relative
    &::before
      content: ""
      position: absolute
      width: 200px
      height: 1px
      background: #ed2791
      bottom: -1px
  .owl-nav
    top: 20%
  .owl-item
    .item
      margin: 0
  .pager
    width: 100%
    ul
      display: flex
      display: -webkit-flex
      justify-content: center
      li
        margin: 0 5px
        a
          width: 30px
          height: 30px
          background: #ebebeb
          font-size: 12px 
          display: block
          border-radius: 50%
          color: #000
          line-height: 30px
          text-align: center
        &.current
          a
            background: #ed2791
            color: #fff
.box-language
  ._bg_
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.5)
    z-index: 20
  ._box_
    width: 600px
    background: #fff
    position: fixed
    top: 20%
    margin: 0 auto
    left: 0
    right: 0
    z-index: 25
    padding: 70px
    border-radius: 10px
    text-align: center
    span.close
      color: #000
      position: absolute
      right: 20px
      top: 20px
    h2
      position: relative
      display: inline-block
      text-transform: uppercase
      margin: 0 0 30px 0
      &::before
        content: ""
        width: 40px
        height: 1px
        background: #000
        position: absolute
        left: -50px
        top: 25px
      &::after
        content: ""
        width: 40px
        height: 1px
        background: #000
        position: absolute
        right: -50px
        top: 25px
    ul
      display: flex
      display: -webkit-flex
      justify-content: center
      li
        margin: 0 10px 

#loaddata
  ._item_
    display: flex
    display: -webkit-flex
    border-bottom: 1px solid #ccc
    padding: 30px 0
    .img
      padding: 0 30px 0 0
      width: 40%
      img
        width: 100%
        border: 1px solid #ccc
    .text
      width: calc(100% - 40%)
      h4
        a
          color: #000
          font-size: 30px
          font-weight: bold
        margin: -10px 0 10px 0
      p
        font-size: 20px
        color: #000
        margin: 0 0 10px 0
      span
        font-size: 16px
        span.date
          font-style: italic
    &:last-child 
      border-bottom: none
  .loading
    text-align: center
.box_news_specical
  h2 
    font-size: 25px
    font-weight: bold
    text-transform: uppercase
    padding: 0 0 15px 0
    border-bottom: 1px solid #cbcbcb
  ._item_
    display: flex
    display: -webkit-flex
    border-bottom: 1px solid #ccc
    padding: 30px 0
    &:last-child
      border-bottom: none
    .img
      padding: 0 20px 0 0
      width: 30%
      &._home_
        width: 40%
      img
        width: 100%
        border: 1px solid #ccc
    .text
      width: calc(100% - 30%)
      h4
        a
          color: #000
          font-size: 20px
          font-weight: bold
        margin: -10px 0 10px 0
      p
        font-size: 20px
        color: #000
        margin: 0 0 10px 0
      span
        font-size: 18px
        color: #01c3ff
        span.date
          color: #000
          font-size: 15px
section.banner_ads
  img
    width: 100%
.box_login_register_
  background: #fff
  ul.nav
    background: #fafafa
    width: 100%
    justify-content: center
    li
      font-size: 25px
      padding: 0 50px
      &:first-child
        border-right: 1px solid #000
      a
        color: #000
        text-transform: uppercase
      a.active
        color: #4ccdff
        position: relative
        &::after
          content: ""
          width: 100%
          height: 2px
          background-color: #4ccdff
          position: absolute
          bottom: -12px
          left: 0
  .tab-content
    width: 100%
    .form_text
      border: none
      border-bottom: 1px solid #000
      font-size: 16px
      width: 100%
      margin: 0 0 20px 0
      height: 50px
    .remember_pass
      display: flex
      display: -webkit-flex
      align-items: center
      input[type='checkbox']
        width: 25px
        height: 25px
    .bottom_
      margin: 20px 0 0 0
      #login_fb
        margin: 0 15px 0 0
    input[type='submit']
      width: 285px
      height: 50px
      background: #4ccdff
      font-size: 20px
      text-align: center
      line-height: 48px
      color: #fff
      border: none
      text-transform: uppercase