doctype html
html
  include inc/head.jade
  body
    include inc/header.jade
    .page_videos
      include inc/video.jade
      // Video
      section.video_sec.pad15_0
        .container
          .row
            -for(i=0;i<2;i++)
              .col-lg-6
                .item._style_1 
                  .img
                    img(src='img/2day/img2.jpg', alt='')
                    a.popup-youtube(href='#')
                      img(src='img/2day/icon.png',alt='')
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
      // Video
      section.video_sec.pad15_0
        .container
          .row
            -for(i=0;i<4;i++)
              .col-lg-3
                a.item(href="#")
                  .img.hover-img2.animated
                    img(src='img/2day/img1.jpg', alt='')
                  h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry
      // Ads
      section.banner_ads
        .container
          .row 
            .col-lg-12
              img(src='img/2day/img8.jpg', alt='')                 
      // Video
      section.video_list
        .container
          .row
            .col-lg-9#loaddata
              -for(i=0;i<4;i++)
                ._item_
                  .img
                    img(src='img/2day/img1.jpg',alt='')
                  .text
                    h4 
                      a(href='#') Lorem Ipsum is simply dummy text of the printing and typesetting industry
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took ......
                    span Bởi 
                      strong Amin  
                      | -  
                      span.date 1 giờ trước
            .col-lg-3 
              img(src='img/2day/img6.jpg',alt='').padtp30_0
              .box_news_specical.pad30_0
                h2 tin nổi bật
                -for(i=0;i<5;i++)
                  ._item_
                    .img
                      img(src='img/2day/img7.jpg',alt='')
                    .text
                      h4
                        a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing...
      // Video
      section.video_sec.pad15_0
        .container
          .row
            .col-lg-6
              h2._top-head.padbt0_30 Đời sống 
              a.item(href="#")
                .img
                  img(src='img/2day/img2.jpg', alt='')
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
              .box_news_specical.pad30_0
                -for(i=0;i<2;i++)
                  ._item_
                    .img._home_
                      img(src='img/2day/img1.jpg',alt='')
                    .text
                      h4
                        a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ibendum eros miLorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ibendum ...
                      span
                        | Đời sống 
                        span.date - 1 ngày trước 

            .col-lg-6
              h2._top-head.padbt0_30 Du lịch
              a.item(href="#")
                .img
                  img(src='img/2day/img2.jpg', alt='')
                h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
              .box_news_specical.pad30_0
                -for(i=0;i<2;i++)
                  ._item_
                    .img._home_
                      img(src='img/2day/img1.jpg',alt='')
                    .text
                      h4
                        a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ibendum eros miLorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ibendum ...
                      span
                        | Đời sống 
                        span.date - 1 ngày trước
            
    include inc/footer.jade
    include inc/script2.jade