doctype html
html
  include inc/head.jade
  body
    include inc/header.jade
    include inc/breadcrumb.jade
    section.newsdetail-page.pad30_0.page_videos
      .container
        .row
          .col-lg-8
            .detail
              h1
                | 5 Essential Rules to a Healthy and Happy Life
              // Details
              .head
                .text
                  span.date Admin - 
                    span 20/12/2018
                  span.social
                    img(src='img/like.jpg')
              .xem-nhanh
                ul
                  -for(i=0;i<3;i++)
                    li
                      a(href='#') Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
              .ctent_detail
                p
                  | What’s possible in a week? If you dedicated seven days to the achievement of one goal, how ambitious tyou make this goal? These were the questions that the multilingual friends Katy and Sara posed themselves when they determined to learn English in one week, to prove that it can be done and anyone can do it with the right methods. They would attempt to liberate themselves from the distractions and responsibilities of modern-day life in order to cram eight hours of study time and I was observing some of the world’s most capable language learners at work.
                p
                  img.lazy(alt='', src='img/2day/detail.jpg')
                p
                  | What’s possible in a week? If you dedicated seven days to the achievement of one goal, how ambitious tyou make this goal? These were the questions that the multilingual friends Katy and Sara posed themselves when they determined to learn English in one week, to prove that it can be done and anyone can do it with the right methods. They would attempt to liberate themselves from the distractions and responsibilities of modern-day life in order to cram eight hours of study time and I was observing some of the world’s most capable language learners at work.
            // Video
            section.video_sec.pad15_0
              .row
                .col-lg-12
                  h2._top-head.padbt0_30 Tin liên quan
              .row
                -for(i=0;i<4;i++)
                  .col-lg-3
                    a.item(href="#")
                      .img.hover-img2.animated
                        img(src='img/2day/img1.jpg', alt='')
                      h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry
              .row
                -for(i=0;i<2;i++)
                  .col-lg-6
                    ul.list_
                      li
                        a(href="#") Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      li
                        a(href="#") Lorem Ipsum is simply dummy text of the printing and typesetting industry
                      li
                        a(href="#") Lorem Ipsum is simply dummy text of the printing and typesetting industry

            .box-comments
              span.count Ý kiến bạn đọc (107)
              .search-ct
                a(href="#") Quan tâm nhất
                a(href="#") Mới nhất 
            #comments.comments-area
              .replay_comment
                -for(i=0;i<2;i++)
                  .l
                    .name
                      ._left
                        img(src='img/2day/avatar.jpg')
                        h5 Nguyễn Mạnh Linh 
                          span - 07:25 13/08
                      .replay
                        a(href='#').like
                          i.fas.fa-thumbs-up
                          |  200 Thích
                        a(href='#').answer Trả lời
                          i.fas.fa-flag
                        a(href='#').share
                          | Chia sẻ
                          i.fas.fa-chevron-down                
                    .content
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  Lorem Ipsum is simply dummy text of the printing and typesetting industry. ...
                    .persion-replay
                      -for(y=0;y<3;y++)
                        .pr
                          .head
                            ._left
                              img(src='img/2day/avatar.jpg')
                              h5 Nguyễn Mạnh Linh 
                                span - 07:25 13/08
                            .replay
                              a(href='#').like
                                i.fas.fa-thumbs-up
                                |  200 Thích
                              a(href='#').answer Trả lời
                                i.fas.fa-flag
                              a(href='#').share
                                | Chia sẻ
                                i.fas.fa-chevron-down                  
                          .msg
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  Lorem Ipsum is simply dummy text of the printing and typesetting industry. ...
            form.comments-review
              textarea.comments(name='comments' placeholder='Ý kiến của bạn ')
              .row.pad15_0.align-items-center.justify-content-between 
                p Hãy 
                  a(href="#") Đăng Nhập 
                  | hoặc 
                  a(href="#") Tạo Tài Khoản 
                  | để gửi bình luận
                span.submit
                  input(type='submit', value='Gửi')       
          .col-lg-4
            img(src='img/2day/img6.jpg',alt='').padtp30_0
            .box_news_specical.pad30_0
              h2 tin nổi bật
              -for(i=0;i<5;i++)
                ._item_
                  .img
                    img(src='img/2day/img7.jpg',alt='')
                  .text
                    h4
                      a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing...
                    span Đời sống 
                      span.date - 1 ngày trước 
    include inc/footer.jade
    include inc/script2.jade