doctype html
html
  include inc/head.jade
  body
    include inc/header.jade
    include inc/breadcrumb.jade
    .page_videos 
      section.video_list
        .container
          .row
            .col-lg-9
              
            .col-lg-3 
              img(src='img/2day/img6.jpg',alt='').padtp30_0
              .box_news_specical.pad30_0
                h2 tin nổi bật
                -for(i=0;i<5;i++)
                  ._item_
                    .img
                      img(src='img/2day/img7.jpg',alt='')
                    .text
                      h4
                        a(href="#") Lorem ipsum dolor sit amet, consectetur adipiscing...
                      span Đời sống 
                        span.date - 1 ngày trước 
          
    include inc/footer.jade
    include inc/script2.jade