// Banner
section.banner
  .owl-carousel.owl-theme.main-banner
    -for(i=0;i<3;i++)
      a.item.lazy(href='#', data-src='img/spa/slider.jpg')
        .caption_
          h1 Lorem Ipsum
          h2 Lorem Ipsum is simply dumm
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry
        .popup-youtube_
          img(src='img/2day/icon.png',alt='')
        