// Footer
footer#footer-new
  .footer-bottom.pad50_0
    .container
      .row.justify-content-between 
        .col-lg-3
          a.footer-logo(href='#')
            img.padbt0_20(src='img/2day/logo.jpg', alt='')
          ._style_1
            p 98/6 Đường Hoa Lan, Phường Tân Định Quận Phú Nhuận, Hồ Chí Minh
          ul.social
            li
              a(href="#")
                i.fab.fa-facebook-f
            li 
              a(href="#")
                i.fab.fa-instagram
            li 
              a(href="#")
                i.fab.fa-youtube
            li 
              a(href="#")
                i.fab.fa-google-plus-g
        .col-lg-6
          .row
            ul._style
              li
                a(href='#') Giới thiệu
              li
                a(href='#') Tích lũy điểm
              li
                a(href='#') Hỏi đáp
              li
                a(href='#') Liên hệ
            ul._style
              li
                a(href="#") Điều khoản sử dụng
              li
                a(href="#") Điều khoản riêng tư
              li
                a(href="#") Điều khoản về cộng đồng
            ._style
              p Giấy phép số: 1450/GP do Sở TTTT Hà Nội cấp ngày 21/5/2014.
              p Bản quyền và phát triển bởi Công ty cổ phần Truyền thông Kết Nối Sáng Tạo.
              p Chịu trách nhiệm nội dung: Bách
        .col-lg-3
          img(src='img/2day/img5.jpg',alt='').float-right
  .footer-copyright.pad30_0
    .container
      p © Copyright 2019. Giấy phép MXH số 232/GP-BTTTT do Bộ TT&TT cấp ngày 14/06/2019