// Footer
footer#footer-new
  .footer-bottom.pad50_0
    .container
      .row.align-items-center.justify-content-between 
        .col-lg-3
          a.footer-logo(href='#')
            img.padbt0_20(src='img/logo.jpg', alt='')
          p
            span(style='text-decoration: underline;margin: 0 5px 0 0') HCM:
            | 49 Hoa Sứ, P.7, Q.Phú Nhuận
          p
            span(style='text-decoration: underline;margin: 0 5px 0 0') HN:
            | Tòa Nhà AC, 79 Duy Tân Cầu Giấy
          a(href='#')
            img.padtp30_0(src='img/bocongthuong.png', alt='')
        .col-lg-6
          h4 Thông tin công ty
          ul
            li
              a(href='#') Giới thiệu
            li
              a(href='#') Chính sách đổi trả hàng
            li
              a(href='#') Góp ý – Khiếu nại
            li
              a(href='#') Quy chế bảo mật
            li
              a(href='#') Chuyển qua giao diện Mobile
        .col-lg-3
          img(src='img/2day/img5.jpg',alt='').float-right
  .footer-copyright.pad30_0
    .container
      p © Copyright 2019. Giấy phép MXH số 232/GP-BTTTT do Bộ TT&TT cấp ngày 14/06/2019