// Footer
footer#footer-new
	.footer-bottom.pad50_0
		.container
			.row.justify-content-between.align-items-end
				.col-lg-4
					a.footer-logo(href='#')
						img.padbt0_20(src='img/2day/logo-footer.png', alt='')
					._style
						p 98/6 đường Hoa Lan, Phường Tân Định, Quận Phú Nhuận, TP. Hồ Chí Minh
						p Giấy phép số: 1450/GP do Sở TTTT Hà Nội cấp ngày 21/5/2020
						p Chịu trách nhiệm nội dung: Bách
				.col-lg-4
					.row.justify-content-center 
						._style1
							p
								span.blue Phone
								a(href="tel:028 6286 0007") 028 6286 0007
							p
								span.blue Email
								a(href="mailto:") contactus@gmail.com
							span.blue Social
							ul
								li
									a(href='#')
										img(src='img/2day/svg/Facebook.svg', alt='')
										span Facebook
								li
									a(href='#')
										img(src='img/2day/svg/youtube.svg', alt='')
										span Youtube
								li
									a(href='#')
										img(src='img/2day/svg/Instagram.svg', alt='')
										span Instagram
				.col-lg-4
					.row.justify-content-center 
						._style2
							ul
								li
									a(href='#') Giới thiệu
								li
									a(href="#") Hỏi đáp
								li
									a(href="#")  Liện hệ
								li
									a(href='#')  Điều khoản sử dụng
								li
									a(href='#')  Điều khoản riêng tư
								li
									a(href="#")  Điều khoản về cộng đồng
	.footer-copyright
		.container
			p © Copyright 2020. Giấy phép MXH số 232/GP-BTTTT do Bộ TT&TT cấp ngày 18/05/2020