// Footer
footer#footer-new
	.footer-bottom.pad50_0
		.container
			.col-lg-12
				.row.justify-content-between.align-items-end
					.div
						a.footer-logo(href='#')
							img.padbt0_20(src='img/2day/logo-footer.png', alt='')
						._style
							p 98/6 đường Hoa Lan, Phường Tân Định,
								br
								| Quận Phú Nhuận, TP. Hồ Chí Minh
							p Giấy phép số: 1450/GP do Sở TTTT Hà Nội
								br
								| cấp ngày 21/5/2020
							p Chịu trách nhiệm nội dung: Bách
					.div
						.row.justify-content-end 
							._style1
								p
									span.blue Phone
									a(href="tel:028 6286 0007") 028 6286 0007
								p
									span.blue Email
									a(href="mailto:") contactus@gmail.com
								span.blue Social
								ul
									li
										a(href='#')
											img(src='img/2day/svg/Facebook.svg', alt='')
											span Facebook
									li
										a(href='#')
											img(src='img/2day/svg/youtube.svg', alt='')
											span Youtube
									li
										a(href='#')
											img(src='img/2day/svg/Instagram.svg', alt='')
											span Instagram
					.div
						.row.justify-content-end 
							._style2
								ul
									li
										a(href='#') Giới thiệu
									li
										a(href="#") Hỏi đáp
									li
										a(href="#")  Liện hệ
									li
										a(href='#')  Điều khoản sử dụng
									li
										a(href='#')  Điều khoản riêng tư
									li
										a(href="#")  Điều khoản về cộng đồng
	.footer-copyright
		.container
			p © Copyright 2020. Giấy phép MXH số 232/GP-BTTTT do Bộ TT&TT cấp ngày 18/05/2020
a#top.active(href="#top")
	img(src='img/2day/svg/icon-scroll.svg')
.box_login_register_(style="display: none")
	span.close-register
		img(src='img/2day/svg/close.svg')
	.row.justify-content-center.align-items-center
		.container
			ul.nav.nav-pills.pad10_0
				li
					a(href="#login" data-toggle="tab").active Đăng nhập
				li
					a(href="#register" data-toggle="tab") Đăng ký
			.tab-content
				.tab-pane#login.active
					form
						input(type="text" name="name" placeholder="Tên đăng nhập(*)").form_text 
						input(type='password' name='password' placeholder="Mật khẩu(*)").form_text
						.middle_.row.align-items-center.justify-content-between 
							.remember_pass
								input(type="checkbox")
								span.checkmark
								| Nhớ mật khẩu 
							.forget_pass
								a(href="#") Quên mật khẩu?
						.bottom_.row.align-items-center.justify-content-between 
							input(type='submit' value="Đăng nhập")
							span Hoặc
							.social_
								a(href="#")#login_fb
									img(src="img/2day/btn_fb.jpg",alt='')
								a(href="#")#login_gg
									img(src="img/2day/btn_gg.jpg",alt='')
				.tab-pane#register
					form
						.row.justify-content-between
							input(type="text" name="name" placeholder="Tên đăng nhập(*)").form_text 
							input(type='email' name='email' placeholder="Email(*)").form_text
						.row.justify-content-between
							input(type='password' name='password' placeholder="Mật khẩu(*)").form_text
							input(type='password' name='recoverpassword' placeholder="Nhập lại mật khẩu(*)").form_text
						.bottom_.row.align-items-center.justify-content-center 
							input(type='submit' value="Đăng ký")
						