// Header
header#header
  .nav-top
    .container
      .row.align-items-center.justify-content-between 
        .col-lg-6
          .social-left 
            ul
              li 
                a(href="#")
                  img(src='img/2day/svg/Facebook-top.svg',alt='')
              li 
                a(href="#")
                  img(src='img/2day/svg/youtube-top.svg',alt='')
              li 
                a(href="#")
                  img(src='img/2day/svg/Instagram-top.svg',alt='')
            
        .col-lg-6
          .lg-right.login-success
            .search
              img(src='img/2day/svg/search.svg',alt='')
            .info
              .info-avatar
                span.avatar
                  img(src='img/2day/avatar.png',alt='')
                span.name Phuong Anh
                span.arrow
                  img(src='img/2day/svg/arrow2.svg',alt='')
              .info-open
                ul
                  li
                    a(href='#') Hoạt động bình luận 
                  li 
                    a(href="#") Tin đã lưu
                  li
                    a(href="#") Tin đã xem
                ul
                  li
                    a(href='#') Tài khoản của tôi
                  li 
                    a(href="#") Thoát
  .form-search(style='display: none').login-success
    .container
      .row
        .col-lg-12
          input(type='text' placeholder='Tìm kiếm. . .')
          span.search-icon
            img(src='img/2day/svg/search-big.svg',alt='')
          span.search-close
            img(src='img/2day/svg/close.svg',alt='')
  .main-nav
    .container
      .row.align-items-center.justify-content-between
        .col-lg-2
          a(href='/')
            img(src='img/2day/logo.png', alt='')
        .col-lg-5
          img(src='img/2day/ads1.jpg',alt='')
        .col-lg-5
          img(src='img/2day/ads2.jpg',alt='')
  .menu
    .container
      .row
        .col-lg-12 
          ul
            li
              a(href='#')       
                | TV	    	     	     	     	     	     	     	     	          	     	     
            li
              a(href='#')
                | giải trí
            li
              a(href='#')
                | làm đẹp & Thời trang
            li
              a(href='#')
                | Đời sống 
            li
              a(href='#')
                | Du lịch
            li
              a(href='#')
                |  Xã hội
            li
              a(href='#')
                | Thế giớI
            li
              a(href='#')
                | Học đường
            li
              a(href='#')
                | Video
            li
              a(href='#').dots
                span
                span
                span