// Header
header#header
  .nav-top
    .container
      .row.align-items-center
        .col-lg-6
        .col-lg-6
          .lg-right.float-right
            ul
              li
                a(href='#')
                  | Đăng nhập
                  img(src='img/icon.png', alt='')
  .main-nav
    .container
      .row.align-items-center
        .col-lg-3.col-md-12.col-xs-12
          a(href='/')
            img(src='img/logo.jpg', alt='')
        .col-lg-5
          form.search
            input(type='search', placeholder='Bạn cần tìm gì hôm nay ?')
            input(type='submit', value='')
            i.fa.fa-search
        .col-lg-4
          .nav-it_rh.float-right
            a.hotline(href='tel:08888 45 999')
              img(src='img/icon.jpg', alt='')
              span 08888 45 999
            a.cart(href='#')
              img(src='img/cart.jpg', alt='')
              span 5
     
  .menu
    .container
      .row
        ul
          li
            a(href='#')
              | star	    	     	     	     	     	     	     	     	          	     	     
          li
            a(href='#')
              | TV
          li
            a(href='#')
              | Show
          li
            a(href='#')
              | Ciné
          li
            a(href='#')
              | Musik
          li
            a(href='#')
              | Beauty & Fashion
          li
            a(href='#')
              | Đời sống
          li
            a(href='#')
              | Du lịch
          li
            a(href='#')
              | Xã hội
          li
            a(href='#')
              | Thế giới
          li
            a(href='#')
              | Sport
          li
            a(href='#')
              | Học đường
          li
            a(href='#')
              | Video