// Video
section.video_sec.pad15_0
  .container
    .row
      .col-lg-8
        .owl-carousel.owl-theme.main_videos
          -for(i=0;i<4;i++)
            .item._style 
              .img
                img(src='img/2day/img3.jpg', alt='')
                a.popup-youtube(href='#')
                  img(src='img/2day/icon.png',alt='')
              .caption 
                h3 Sơn Tùng tại Sky Tour TP.HCM: Caó gì trao hết...
                p Trưa ngày 28/7, sự kiện Meet&Greet của Sky Tour 2019 đã chính thức diễn ra tại TP.HCM. Tham gia sự kiện này, khán giả đã được giao lưu thân mật với Sơn Tùng M-TP, xem trước chương trình tổng duyệt và nhận poster có chữ ký của toàn bộ 
      .col-lg-4
        -for(i=0;i<2;i++)
          a.item(href="#")._style
            .img
              img(src='img/2day/img4.jpg', alt='')
            .caption
              h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry
          